<form action="/demo_form" method="POST">

    <label>
        Write Your First Name
        <br>
        <input type="text" name="fname" placeholder="Your First Name (Must Need)" required>
    </label>
    <br>

    <label>
        Write Your Last Name
        <br>
        <input type="text" name="lname" placeholder="Your Last Name (If Any)">
    </label>
    <br>

    <label>
        Write Your Question Here
        <br>
        <input type="text" name="question" placeholder="Write Any Text You Want To send to Server..." required>
    </label>
    <br>
    <br>

    <p>Choose Your Gender:</p>

    <label class="gender_options">
        <input type="radio" name="gender" value="boy" required>
        I am a Boy
    </label>


    <label class="gender_options">
        <input type="radio" name="gender" value="girl">
        I am a Girl
    </label>


    <label class="gender_options">
        <input type="radio" name="gender" value="not_say">
        I don't want to say my gender
    </label>


    <label class="gender_options">
        <input type="radio" name="gender" value="bisexual">
        Both / Bisexual
    </label>






    <br><br>
    <input type="submit" value="Submit Your Informations">


</form>