<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        Rana Universe Title
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='layout_styles.css') }}">
</head>

<body>
    {% include "partials/nav.html" %}
    <div class="content">
        {% block content %}
        This is Default Content
        {% endblock %}
    </div>

    {% include "partials/footer.html" %}

</body>

</html>